<?xml version="1.0" encoding="UTF-8"?>
<testsuites>
  <testsuite name="tests" tests="19" assertions="55" failures="0" errors="0" time="8.477503">
    <testsuite name="AAServiceTest" file="C:\Documents and Settings\vichandrasekaran\workspace\PayPal_Invoice_PHP_SDK\tests\AAServiceTest.php" tests="1" assertions="5" failures="0" errors="0" time="5.378731">
      <testcase name="createAccount" class="AAServiceTest" file="C:\Documents and Settings\vichandrasekaran\workspace\PayPal_Invoice_PHP_SDK\tests\AAServiceTest.php" line="45" assertions="5" time="5.378731"/>
    </testsuite>
    <testsuite name="PPAPIServiceTest" file="C:\Documents and Settings\vichandrasekaran\workspace\PayPal_Invoice_PHP_SDK\tests\APIServiceTest.php" tests="2" assertions="4" failures="0" errors="0" time="3.090794">
      <testcase name="callValidService" class="PPAPIServiceTest" file="C:\Documents and Settings\vichandrasekaran\workspace\PayPal_Invoice_PHP_SDK\tests\APIServiceTest.php" line="12" assertions="2" time="1.820029"/>
      <testcase name="doSimpleSerialization" class="PPAPIServiceTest" file="C:\Documents and Settings\vichandrasekaran\workspace\PayPal_Invoice_PHP_SDK\tests\APIServiceTest.php" line="24" assertions="2" time="1.270765"/>
    </testsuite>
    <testsuite name="PPConfigManagerTest" file="C:\Documents and Settings\vichandrasekaran\workspace\PayPal_Invoice_PHP_SDK\tests\ConfigManagerTest.php" tests="4" assertions="4" failures="0" errors="0" time="0.001753">
      <testcase name="getSingleValue" class="PPConfigManagerTest" file="C:\Documents and Settings\vichandrasekaran\workspace\PayPal_Invoice_PHP_SDK\tests\ConfigManagerTest.php" line="11" assertions="1" time="0.000440"/>
      <testcase name="getMultipleValues" class="PPConfigManagerTest" file="C:\Documents and Settings\vichandrasekaran\workspace\PayPal_Invoice_PHP_SDK\tests\ConfigManagerTest.php" line="20" assertions="1" time="0.000435"/>
      <testcase name="getIniPrefix1" class="PPConfigManagerTest" file="C:\Documents and Settings\vichandrasekaran\workspace\PayPal_Invoice_PHP_SDK\tests\ConfigManagerTest.php" line="29" assertions="1" time="0.000418"/>
      <testcase name="getAllConfiguredAccounts" class="PPConfigManagerTest" file="C:\Documents and Settings\vichandrasekaran\workspace\PayPal_Invoice_PHP_SDK\tests\ConfigManagerTest.php" line="38" assertions="1" time="0.000460"/>
    </testsuite>
    <testsuite name="PPConnectionManagerTest" file="C:\Documents and Settings\vichandrasekaran\workspace\PayPal_Invoice_PHP_SDK\tests\ConnectionManagerTest.php" tests="1" assertions="3" failures="0" errors="0" time="0.000603">
      <testcase name="createConnection" class="PPConnectionManagerTest" file="C:\Documents and Settings\vichandrasekaran\workspace\PayPal_Invoice_PHP_SDK\tests\ConnectionManagerTest.php" line="12" assertions="3" time="0.000603"/>
    </testsuite>
    <testsuite name="PPCredentialManagerTest" file="C:\Documents and Settings\vichandrasekaran\workspace\PayPal_Invoice_PHP_SDK\tests\CredentialManagerTest.php" tests="3" assertions="5" failures="0" errors="0" time="0.001375">
      <testcase name="checkCredentialObjectNotEmpty" class="PPCredentialManagerTest" file="C:\Documents and Settings\vichandrasekaran\workspace\PayPal_Invoice_PHP_SDK\tests\CredentialManagerTest.php" line="10" assertions="2" time="0.000472"/>
      <testcase name="checkCredentialObjectUsername" class="PPCredentialManagerTest" file="C:\Documents and Settings\vichandrasekaran\workspace\PayPal_Invoice_PHP_SDK\tests\CredentialManagerTest.php" line="19" assertions="2" time="0.000427"/>
      <testcase name="checkInvalidCredential" class="PPCredentialManagerTest" file="C:\Documents and Settings\vichandrasekaran\workspace\PayPal_Invoice_PHP_SDK\tests\CredentialManagerTest.php" line="28" assertions="1" time="0.000476"/>
    </testsuite>
    <testsuite name="AAGeneratorTest" file="C:\Documents and Settings\vichandrasekaran\workspace\PayPal_Invoice_PHP_SDK\tests\GeneratorTest.php" tests="4" assertions="26" failures="0" errors="0" time="0.002173">
      <testcase name="checkAPIWrapperClass" class="AAGeneratorTest" file="C:\Documents and Settings\vichandrasekaran\workspace\PayPal_Invoice_PHP_SDK\tests\GeneratorTest.php" line="11" assertions="2" time="0.000498"/>
      <testcase name="checkCreateAccountStubs" class="AAGeneratorTest" file="C:\Documents and Settings\vichandrasekaran\workspace\PayPal_Invoice_PHP_SDK\tests\GeneratorTest.php" line="23" assertions="22" time="0.000876"/>
      <testcase name="checkOperationWrapperFunction" class="AAGeneratorTest" file="C:\Documents and Settings\vichandrasekaran\workspace\PayPal_Invoice_PHP_SDK\tests\GeneratorTest.php" line="44" assertions="2" time="0.000417"/>
      <testcase name="checkWSDLAnnotationIsParsed" class="AAGeneratorTest" file="C:\Documents and Settings\vichandrasekaran\workspace\PayPal_Invoice_PHP_SDK\tests\GeneratorTest.php" line="55" assertions="0" time="0.000382"/>
    </testsuite>
    <testsuite name="NVPTransformerTest" file="C:\Documents and Settings\vichandrasekaran\workspace\PayPal_Invoice_PHP_SDK\tests\NVPTransformerTest.php" tests="3" assertions="6" failures="0" errors="0" time="0.001470">
      <testcase name="checkSimpleSerialization" class="NVPTransformerTest" file="C:\Documents and Settings\vichandrasekaran\workspace\PayPal_Invoice_PHP_SDK\tests\NVPTransformerTest.php" line="10" assertions="2" time="0.000462"/>
      <testcase name="checkNestedObjectSerialization" class="NVPTransformerTest" file="C:\Documents and Settings\vichandrasekaran\workspace\PayPal_Invoice_PHP_SDK\tests\NVPTransformerTest.php" line="23" assertions="4" time="0.000626"/>
      <testcase name="checkCollectionObjectSerialization" class="NVPTransformerTest" file="C:\Documents and Settings\vichandrasekaran\workspace\PayPal_Invoice_PHP_SDK\tests\NVPTransformerTest.php" line="63" assertions="0" time="0.000382"/>
    </testsuite>
    <testsuite name="UtilsTest" file="C:\Documents and Settings\vichandrasekaran\workspace\PayPal_Invoice_PHP_SDK\tests\UtilsTest.php" tests="1" assertions="2" failures="0" errors="0" time="0.000604">
      <testcase name="checkArrayMatches" class="UtilsTest" file="C:\Documents and Settings\vichandrasekaran\workspace\PayPal_Invoice_PHP_SDK\tests\UtilsTest.php" line="10" assertions="2" time="0.000604"/>
    </testsuite>
  </testsuite>
</testsuites>
